%h2 Hello #{@user.username}
%p Your Presentations:

- @presentations.each do |presentation|
  %p Title: #{presentation.title}
  -if @user == current_user
    %p= link_to 'View Feedback', presentation_feedbacks_path(presentation)
  %br