.main {
  @include outer-container;
}

.content {
  &.with-side-nav {
    @include span-columns(10);
    @include shift(1);
  }
  &.no-side-nav {
    @include span-columns(8);
    @include shift(2);
  }
}

.sliding-menu-content {
  top: 60px;
  @include span-columns(2);
  position: absolute;
}

header.navigation {
  .navigation-tools {
    float: none;
  }
  .search-bar {
    width: 40em;
    float: left;
  }
}

.sliding-menu-button {
  top: 9px;
}

.js-accordian-trigger .submenu{
  background-color: #333;
}

.category-btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  //font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: #3498db;
  padding: 5px 5px;
  text-decoration: none;
  &:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
}