<a href="" class="js-menu-trigger sliding-menu-button" style="float:left;">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/menu-white.png" alt="Menu Icon">
</a>


