%nav.js-menu.sliding-menu-content.is-visible
  %ul
    %li
      %a{href: "javascript:void(0)"} Home
    %li
      %a{href: "javascript:void(0)"} About Us
    %li
      %a{href: "javascript:void(0)"} My Profile
    %ul
      %li
        %a.js-accordion-trigger{:href => "javascript:void(0)"} Category
        %ul.submenu{:style => "display:none;"}
          - Category.all.each do |category|
            %li
              = link_to category.name, controller: "presentations", action: "category", category_id: category.id
