%nav.js-menu.sliding-menu-content.is-visible
  %ul
    %li
      %a{href: "javascript:void(0)"} Item 1
    %li
      %a{href: "javascript:void(0)"} Item 2
    %li
      %a{href: "javascript:void(0)"} Item 3